@charset "utf-8";

.page-cont {
    position: relative;
    margin: 0 auto;
    height: 100%;
}
audio.audio-music {
    visibility: hidden
}
.page-container {
    position: relative;
    z-index: 0;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}
.musicWrap {
    position: absolute;
    z-index: 9999;
    transform: rotate(0deg);
    text-align: center;
    vertical-align: middle;
}
.musicWrap .rotate {
    -webkit-animation: musicRotate 2s linear infinite;
    -moz-animation: musicRotate 2s linear infinite;
    animation: musicRotate 2s linear infinite
}
.musicWrap .paused {
    animation-play-state: paused;
    -webkit-animation-play-state: paused;
    -moz-animation-play-state: paused;
    -o-animation-play-state: paused
}
.icon-music,
.icon-error,
.icon-correct,
.icon-fault,
.icon-star {
    background-image: url("../images/icon_sprite.png");
    background-size: 1rem 3.14rem;
    background-repeat: no-repeat;
}

.page-init {
    display: none;
    position: absolute;
    top: 0;
    z-index: 10;
    width: 100%;
}
.page-current {
    display: block;
}
.page_0 {
    height: 100%;
    background: url("../images/grid.png") repeat 0 0;
}
.page_2 {
    background-color: #E3F9FF;
}
.page_3,
.page_4 {
    background: url("../images/gray_grid.png") repeat;
}
.page-screen-3 {
    background: url("../images/gray_grid.png") repeat;
}
.page-enter-bottom-0 {
    -webkit-animation: enter-bottom-0 .7s forwards;
    -moz-animation: enter-bottom-0 .7s forwards;
    -o-animation: enter-bottom-0 .7s forwards;
    animation: enter-bottom-0 .7s forwards;
    z-index: 5
}
.page-enter-top-100 {
    -webkit-animation: enter-top-100 .7s forwards;
    -moz-animation: enter-top-100 .7s forwards;
    -o-animation: enter-top-100 .7s forwards;
    animation: enter-top-100 .7s forwards;
    z-index: 5
}
/* page-loading */
.page-load {
    position: absolute;
    top: 50%;
    left: 50%;
}
.loadTop {
    width: 90%;
    margin: 0 auto;
}
.loadBg {
    margin: 0 auto;
    background-repeat: no-repeat;
    background-size: contain;
}
.loadBarWrap {
    float: left;
    margin: 0 auto;
    background-color: #FFFFFF;
    overflow: hidden;
}
.loadBarScroll {
    height: 100%;
    background-color: #fc8a94;
    border-radius: 0.1rem;
}
.loadTxt {
    float: right;
    line-height: 1.2;
    color: #666666;
    text-align: center;
}
/* page-login */
.loginBanner img {
    width: 100%;
    height: 100%;
}
.loginBox {
    width: 80%;
    margin: 0 auto;
}
.inputBox {
    position: relative;
    z-index: 0;
    height: 0.45rem;
    margin-bottom: 0.2rem;
    line-height: 0.45rem;
    border-bottom: 1px solid #D9D9D9;
}
.inputUser {
    position: absolute;
    z-index: 10;
    left: 0;
    width: 85%;
    height: 100%;
    padding: 0 0.05rem;
    font-family: "SourceHanSansCN-Normal";
    font-size: 0.14rem;
    text-align: left;
}
.iconTips {
    position: absolute;
    right: 0;
    z-index: 5;
    display: inline-block;
}
.loginStart {
    display: block;
    width: 2rem;
    height: 0.56rem;
    margin: 0 auto;
    line-height: 0.56rem;
    text-align: center;
    background: #D9D9D9;
    border-radius: 0.285rem;
    font-family: "SourceHanSansCN-Medium";
    font-size: 0.16rem;
    color: #FFFFFF;
}
.inpuBtn .selected {
    box-shadow: 0 0.02rem 0.04rem 0 rgba(255,131,127,0.50);
    background-image: linear-gradient(166deg, #FF978A 0%, #FF5A68 100%);
}

/* page-layer */
.reveal-modal-wrap {
    position: rel1ative;
    width: 100%;
    height: 100%;
}
.reveal-modal,
.reveal-qrimg {
    position: absolute;
    z-index: 5;
    top: 50%;
    left: 50%;
}
.tost-wrap {
    position: absolute;
    opacity: 0;
}
.reveal-modal-bg {
    display: none;
    position: fixed;
    height: 100%;
    width: 100%;
    background: #000;
    z-index: 100;
    top: 0;
    left: 0;
}
.reveal-modal-cont {
    display: none;
    position: absolute;
    z-index: 110;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.modal-item {
    height: 100%;
    width: 100%;
    border-radius: 0.12rem;
}
.modalbanner {
    display: block;
}
.qrcode-img {
    width: 100%;
    height: 100%;
    visibility: hidden;
}
.modal-box {
    padding: 0.12rem 0.12rem 0 0.12rem;
}
.modal-school {
    background-image: linear-gradient(180deg, #DAF7F5 0%, #F9FFFF 100%);
}
.modal-family {
    background-image: linear-gradient(180deg, #FFEFF2 0%, #FFF9FA 100%);
}
.modal-scenic {
    background-image: linear-gradient(180deg, #FFFAE5 0%, #FFFEFB 100%);
}
.modal-subway {
    background-image: linear-gradient(180deg, #E5F1FF 0%, #F6FBFF 100%);
}

.modalTitle {
    text-align: center;
    font-family: "SourceHanSansCN-Medium";
    font-size: 0.18rem;
    color: #666666;
}
.modalMore {
    position: absolute;
    top: 0;
    right: 0;
}
.modalMore .modalStone {
    display: inline-block;
}
.modalSectionTitle {
    margin-bottom: 0.1rem;
    font-family: "SourceHanSansCN-Medium";
    color: #666666;
    line-height: 1.2;
}
.modalSectionCont {
    font-family: "SourceHanSansCN-Normal";
    color: #999999;
    line-height: 1.2;
}

.detailList {
    margin-bottom: 0.15rem;
}
.modalBtnWrap {
    width: 100%;
}
.btnSwitch {
    display: inline-block;
    height: 0.44rem;
    line-height: 0.44rem;
    border-radius: 0.22rem;
    box-shadow: 0 0.04rem 0.06rem 0 rgba(0,0,0,0.10);
    text-align: center;
}
.btnPrev {
    float: left;
    color: #999999;
    background: #FFFFFF;
}
.btnNext {
    float: right;
    color: #FFFFFF;
}
.modal-school .btnPrev {
    border: 1px solid #00C2D1;
}
.modal-school .btnNext {
    background-image: linear-gradient(166deg, #7FDFE1 0%, #00C2D1 100%);
}
.modal-family .btnPrev {
    border: 1px solid #FD89A0;
}
.modal-family .btnNext {
    background-image: linear-gradient(166deg, #FFB9C2 0%, #FF7F98 100%);
}
.modal-scenic .btnPrev {
    border: 1px solid #FFE8B1;
}
.modal-scenic .btnNext {
    background-image: linear-gradient(158deg, #FFBAA2 0%, #FF5D5F 100%);
}
.modal-subway .btnPrev {
    border: 1px solid #C5DFFD;
}
.modal-subway .btnNext {
    background-image: linear-gradient(-24deg, #838CF4 0%, #B3B9FF 100%);
}
/* page-questions */
.question-wrap {
    position: relative;
    z-index: 5;
    width: 100%;
}
.qustion-top {
    margin-bottom: 0.4rem;
    overflow: hidden;
}
.qustion-bottom {
    width: 100%;
}
.qustion-foot {
    width: 100%;
}
.qustion-title {
    position: absolute;
    left: 0.3rem;
    right: 0.3rem;
    bottom: 0.32rem;
    z-index: 50;
    height: 0.6rem;
}
.askTitleItem {
    display: flex;
    align-items: center;
    width: 85%;

    opacity: 0;
    transform: translateY(25px);
    transition: all .4s;
}
.qustion-list {
    margin: 0 auto;
    overflow: hidden;
}
/*.qustion-item-list,*/
.ask-list {
    display: none;
}
.qustion-item {
    position: relative;
    opacity: 0;
    transform: translateY(25px);
    transition: all .4s;
}
.qustion-item span {
    display: inline-block;
    float: left;
}
.qustion-item span.questRes {
    float: none;
    position: absolute;
}

.qustion-list li.qustion-item:last-child {
    margin-bottom: 0;
}
.questTitle {
    display: inline-block;
    font-family: "SourceHanSansCN-Medium";
    color: #000000;
}

.dot-list {
    text-align: center;
    vertical-align: middle;
    opacity: 0;
    transform: translateY(25px);
    transition: all .4s;
}
.dot-list .dot-item {
    display: inline-block;
    border: 1px solid #333333;
}
.dot-list .dot-current {
    background-color: #000000;
}

.qustion-active {
    display: block;
}
.qustion-animIn {
    opacity: 1;
    transform: none;
}
.qustion-active .qustion-animIn:nth-child(1) {
    transition-delay: 0.2s;
}
.qustion-active .qustion-animIn:nth-child(2) {
    transition-delay: 0.3s;
}
.qustion-active .qustion-animIn:nth-child(3) {
    transition-delay: 0.4s;
}
.qustion-active .qustion-animIn:nth-child(4) {
    transition-delay: 0.5s;
}
.dot-list.qustion-animIn {
    transition-delay: 0.6s;
}

.result-outer {
    background: url("../images/gray_grid.png") repeat;
}
.results-content {
    position: relative;
    z-index: 5;
}
.results-top {
    position: relative;
    z-index: 10;
}
.results-mid {
    position: relative;
    z-index: 10;
}
.results-catimg {
    display: block;
    position: absolute;
    z-index: 15;
    border-style: solid;
}
.results-catimg img {
    width: 100%;
    height: 100%;
}
.page_5 .results-content .results-catimg {
    display: none;
}
.results-code-school {
    border-color: #80dfe1;
}
.results-code-scenic {
    border-color: #ffe8b1;
}
.results-code-family {
    border-color: #fccad1;
}
.results-code-subway {
    border-color: #c5dffd;
}

.results-wrap {
    position: absolute;
    z-index: 15;
    left: 0;
    width: 100%;
}
.results-item {
    width: 100%;
    text-align: center;
    vertical-align: middle;
}

.restCongrats {
    width: 0.5rem;
    font-family: "SourceHanSansCN-Medium";
    font-size: 0.14rem;
    color: #333333;
    text-align: center;
    border-bottom: 1px solid transparent;
}
.restUser {
    margin-left: 0.1rem;
    margin-right: 0.1rem;
    font-family: "SourceHanSansCN-Medium";
    color: #FC5B59;
    text-align: center;
    border-bottom: 1px solid #666666;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.restTips {
    margin-top: -0.05rem;
    font-family: "SourceHanSansCN-Normal";
    font-size: 0.12rem;
    color: #999999;
}

/**/
.results-bot {
    width: 100%;
}
.results-btnwrap {
    position: relative;
    z-index: 20;
    width: 100%;
}
.results-qrcodewrap {
    width: 100%;
}

.results-btnwrap span,
.results-qrcodewrap span {
    display: inline-block;
    float: left;
}

.btnTry {
    text-align: center;
    font-family: "SourceHanSansCN-Medium";
    color: #333333;
}
.results-btnwrap span.btnShare,
.results-qrcodewrap span.movie-banner {
    float: right;
}
.btnDeny,
.btnFire {
    position: absolute;
}
.btnFire img {
    width: 100%;
    height: 100%;
}
.qrimg-desc {
    font-family: "SourceHanSansCN-Medium";
    color: #333333;
    font-weight: bold;
}

.movie-banner img {
    width: 100%;
    height: 100%;
}

